.header-Container
{
    background-color:#459ddb;
    padding: 20px;
    text-align: center;
}
.header-text
{
color:lavenderblush
}
.header-paragrap
{
    color: lemonchiffon;
}
.Bugget
{
    color:lightcyan
}